* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
}

.mobile-menu-btn {
    display: none;
    cursor: pointer;
}

.mobile-menu-btn div {
    width: 30px;
    height: 3px;
    background-color: aliceblue;
    margin: 8px;
    box-shadow: 0px 0px 50px 2px rgba(0,0,0,1);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 120px 0;
}

h1, h2 {
    color: #f0f0f0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header {
    background-color: rgba(17, 43, 25, 0.8);
    padding-inline: 25px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 3;
}

.album {
    position: relative;
    width: 45%;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 0;
}

.mask {
    width: 80%;
    margin-top: 40px;
    
}

.album img {
    transition: transform 0.3s ease;
}

.album:hover img {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.info-album {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.album.expanded .info-album {
    opacity: 1;
    transform: translateY(0);
}

.album.expanded img {
    transform: scale(1);
}

p {
    color: rgb(255, 255, 255);
}

.info-album p {
    color: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 40px;
}

nav li {
    margin-left: 2rem;
}

nav a {
    font-family: "Playfair Display", serif;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover {
    color: #61725e;
}

.home {
    background-color: #c7d9c3;
    height: 100svh;
    display: flex;
    color: #fff;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
    background-image: url("/imagens/mfdoomback.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria img {
    width: 90%;
    margin-bottom: 40px;
    margin-top: 60px;
}

blockquote {
    background-color: #adbea6;
    border-left: 5px solid #285923;
    padding: 20px;
    margin: 30px 0;
    font-style: italic;
}

footer {
    background-color: #2d472852;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    
    body { overflow-x: hidden; }

    .hidden{ overflow-y: hidden; }

    .mobile-menu-btn {
        display: block;
        position: fixed;
        right: 0;
        z-index: 1;
        padding: 15px;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 90vw;
        height: 100svh;
        background: var(--dark-soft-blue);
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        box-sizing: border-box;
        transition: 0.75s ease-in;
        background: rgba(17, 43, 25, 1);
    }
    
    .mobile-menu li{ text-align: center; }

    nav ul { justify-content: none; }

    ul li a { font-size: 2rem;}

    .mobile-menu.active {
        transform: translateX(0);
        transition: 0.75s ease-out;
    }

    .container {
        padding: 10px; 
    }

    .galeria img {
        width: 90%;
        margin: 40px auto;
    }

    h1, h2 {
        text-align: center;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    p {
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
    }

    #subtitle {
        text-align: center;
    }

    header {
        max-height: 74px;
    }

    main {
        padding-top: 74px;
    }

    nav ul {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        
    }

    nav li {
        margin: 10px 0; 
        padding: 5px 0;
    }

    nav a {
        font-size: 1.2rem;
    }

    .album {
        width: 100%; 
    }

    .home {
        min-height: 30vh;
        height: 50vh; 
    }
}

@media (min-width: 769px) {
}